<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="CMake"> <action name="Execute">
                <execute>cmake-gui</execute>
            </action> </item>
            <item label="CMake curses GUI (ccmake)"> <action name="Execute">
                <execute>gnome-terminal -e ccmake</execute>
            </action> </item>
            <item label="Electron 12"> <action name="Execute">
                <execute>electron12</execute>
            </action> </item>
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Micro"> <action name="Execute">
                <execute>gnome-terminal -e micro</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>gnome-terminal -e python</execute>
            </action> </item>
            <item label="Python (v2.7)"> <action name="Execute">
                <execute>gnome-terminal -e python2.7</execute>
            </action> </item>
            <item label="Tclsh8.6"> <action name="Execute">
                <execute>gnome-terminal -e tclsh8.6</execute>
            </action> </item>
            <item label="Visual Studio Code"> <action name="Execute">
                <execute>/opt/visual-studio-code/code --no-sandbox</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Emacs"> <action name="Execute">
                <execute>gnome-terminal -e emacs</execute>
            </action> </item>
            <item label="Nano"> <action name="Execute">
                <execute>gnome-terminal -e nano</execute>
            </action> </item>
            <item label="Vi"> <action name="Execute">
                <execute>gnome-terminal -e vi</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="10" label="Arcade">
                <item label="PacMan"> <action name="Execute">
                    <execute>pacman</execute>
                </action> </item>
            </menu>
            <item label="Business Tour - Online Multiplayer Board Game"> <action name="Execute">
                <execute>steam steam://rungameid/397900</execute>
            </action> </item>
            <item label="Cities: Skylines"> <action name="Execute">
                <execute>steam steam://rungameid/255710</execute>
            </action> </item>
            <item label="Lutris"> <action name="Execute">
                <execute>lutris</execute>
            </action> </item>
            <item label="MultiMC 5"> <action name="Execute">
                <execute>/opt/multimc/run.sh</execute>
            </action> </item>
            <item label="Quaver"> <action name="Execute">
                <execute>steam steam://rungameid/980610</execute>
            </action> </item>
            <item label="Quiplash"> <action name="Execute">
                <execute>steam steam://rungameid/351510</execute>
            </action> </item>
            <item label="TrackMania² Valley"> <action name="Execute">
                <execute>steam steam://rungameid/243360</execute>
            </action> </item>
            <item label="Train Simulator"> <action name="Execute">
                <execute>steam steam://rungameid/24010</execute>
            </action> </item>
        </menu>
        <menu id="6" label="Graphics">
            <item label="Bitmap"> <action name="Execute">
                <execute>bitmap</execute>
            </action> </item>
            <item label="Document Viewer"> <action name="Execute">
                <execute>xreader</execute>
            </action> </item>
            <item label="GraphicsMagick"> <action name="Execute">
                <execute>gm display logo:</execute>
            </action> </item>
            <item label="Image Viewer"> <action name="Execute">
                <execute>eog</execute>
            </action> </item>
            <item label="Inkscape"> <action name="Execute">
                <execute>inkscape</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>gnome-terminal -e alsamixer</execute>
            </action> </item>
            <item label="Audacity"> <action name="Execute">
                <execute>/usr/audacity</execute>
            </action> </item>
            <item label="Audacium"> <action name="Execute">
                <execute>env UBUNTU_MENUPROXY=0 audacium</execute>
            </action> </item>
            <item label="Calf Plugin Pack for JACK"> <action name="Execute">
                <execute>calfjackhost</execute>
            </action> </item>
            <item label="EasyEffects"> <action name="Execute">
                <execute>easyeffects</execute>
            </action> </item>
            <item label="freezer"> <action name="Execute">
                <execute>/opt/Freezer/freezer</execute>
            </action> </item>
            <item label="Helvum"> <action name="Execute">
                <execute>helvum</execute>
            </action> </item>
            <item label="mpv Media Player"> <action name="Execute">
                <execute>mpv --player-operation-mode=pseudo-gui</execute>
            </action> </item>
            <item label="OBS Studio"> <action name="Execute">
                <execute>obs</execute>
            </action> </item>
            <item label="PulseAudio Volume Control"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="Qt V4L2 video capture utility"> <action name="Execute">
                <execute>qvidcap</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="Chromium"> <action name="Execute">
                <execute>chromium</execute>
            </action> </item>
            <item label="Discord"> <action name="Execute">
                <execute>discord</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="FTP"> <action name="Execute">
                <execute>gnome-terminal -e ftp</execute>
            </action> </item>
            <item label="Mail"> <action name="Execute">
                <execute>gnome-terminal -e mail</execute>
            </action> </item>
            <item label="Steam (Runtime)"> <action name="Execute">
                <execute>steam-runtime</execute>
            </action> </item>
            <item label="Talk"> <action name="Execute">
                <execute>gnome-terminal -e talk</execute>
            </action> </item>
            <item label="Telnet"> <action name="Execute">
                <execute>gnome-terminal -e telnet</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Atril Document Viewer"> <action name="Execute">
                <execute>atril</execute>
            </action> </item>
        </menu>
        <menu id="39" label="Other">
            <item label="Utsu"> <action name="Execute">
                <execute>/opt/utsu/bin/Utsu</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="GIT"> <action name="Execute">
                <execute>gnome-terminal -e git</execute>
            </action> </item>
            <item label="kitty"> <action name="Execute">
                <execute>kitty</execute>
            </action> </item>
            <item label="Oracle VM VirtualBox"> <action name="Execute">
                <execute>VirtualBox</execute>
            </action> </item>
            <item label="rc"> <action name="Execute">
                <execute>gnome-terminal -e rc</execute>
            </action> </item>
            <item label="Terminal"> <action name="Execute">
                <execute>gnome-terminal</execute>
            </action> </item>
            <item label="VirtualBox"> <action name="Execute">
                <execute>virtualbox</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="Bluetooth"> <action name="Execute">
                        <execute>blueberry</execute>
                    </action> </item>
                </menu>
                <item label="ARandR"> <action name="Execute">
                    <execute>arandr</execute>
                </action> </item>
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="IBus Preferences"> <action name="Execute">
                    <execute>ibus-setup</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="GNOME System Monitor"> <action name="Execute">
                <execute>gnome-system-monitor</execute>
            </action> </item>
            <item label="Hardware Locality lstopo"> <action name="Execute">
                <execute>lstopo</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                <execute>gnome-terminal -e htop</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>gnome-terminal -e pstree.x11</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>gnome-terminal -e pstree</execute>
            </action> </item>
            <item label="System Log"> <action name="Execute">
                <execute>gnome-system-log</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>gnome-terminal -e top</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Archive Manager"> <action name="Execute">
                <execute>file-roller</execute>
            </action> </item>
            <item label="Bottles"> <action name="Execute">
                <execute>bottles</execute>
            </action> </item>
            <item label="Calculator"> <action name="Execute">
                <execute>gnome-calculator</execute>
            </action> </item>
            <item label="compton"> <action name="Execute">
                <execute>compton</execute>
            </action> </item>
            <item label="Disks"> <action name="Execute">
                <execute>gnome-disks</execute>
            </action> </item>
            <item label="Info"> <action name="Execute">
                <execute>gnome-terminal -e info</execute>
            </action> </item>
            <item label="Marker"> <action name="Execute">
                <execute>marker</execute>
            </action> </item>
            <item label="Nemo"> <action name="Execute">
                <execute>nemo</execute>
            </action> </item>
            <item label="picom"> <action name="Execute">
                <execute>picom</execute>
            </action> </item>
            <item label="Screenshot"> <action name="Execute">
                <execute>gnome-screenshot --interactive</execute>
            </action> </item>
            <item label="Winetricks"> <action name="Execute">
                <execute>winetricks --gui</execute>
            </action> </item>
            <item label="Xpad"> <action name="Execute">
                <execute>xpad</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
